<!DOCTYPE html>
<html lang="en">
<div class="nav-toggle"><i class="fa fa-bars fa-2x"></i> Gihak111 </div>
<head>
    <!-- 헤더 파일을 포함하여 메타데이터와 스타일시트 링크를 설정 -->
    {% include header.html %}
    <style>

        /* 코드 블록 스타일 */
        pre {
            background-color: #f5f5f5; /* 코드 블록 배경색 */
            border: 1px solid #ddd; /* 코드 블록 경계선 */
            border-radius: 4px; /* 코드 블록 경계선 둥글게 */
            padding: 10px; /* 코드 블록 안쪽 여백 */
            overflow-x: auto; /* 가로 스크롤 */
        }

        code {
            font-family: monospace; /* 고정 폭 글꼴 */
            color: #d6336c; /* 코드 글자 색상 */
        }
    </style>
</head>
<body>
<!-- 네비게이션 파일을 포함하여 메뉴를 설정 -->
{% include navigation.html %}

<div id="wrapper">
    <!-- 각 페이지의 콘텐츠가 이 위치에 삽입됨 -->
    <div class="container">
        {{ content }}
    </div>
</div>

<!-- 푸터 파일을 포함하여 페이지 하단에 표시할 내용 설정 -->
{% include footer.html %}

<!-- 스크립트 파일을 포함하여 추가 JavaScript를 설정 -->
{% include scripts.html %}
</body>
</html>
